:root {
    --bg-color: yellow;
    --bs-primary-rgb: darkblue;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--bs-primary-rgb);
    font-weight: 300;
    font-size: 1.2rem;
}